.codehim-form{
    max-width: 400px;
    min-height: 400px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    margin:  10% auto 0 auto;
    padding: 25px;
    color: #414141;
        
}
.cm-input{
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 100%; 
    margin: 10px auto;
    border-radius: 20px;
    border: 1px solid #ccc;
    
    
}
.cm-input:focus{
    outline: 0;
    border-color: #000;
    
}
.cm-input:invalid{
    border-color: #000;
    
}

  .form-title{
        padding: 12px;
        text-align: center;
        position: relative;
    
    }
    .form-title h1{
        color: #000;
    }
    .form-title .user-icon{
        position: absolute;
        font-size: 42px;
        color: #000;
        width: 90px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        border-radius: 80px;
        top: -60px;
        left: -45px;
        background: #000;
        color: #fff;

}