
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
